*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Libre Franklin-Regular';
    src: url('.assets/fonts/static/LibreFranklin-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Libre Franklin-Semi-bold';
    src: url('.assets/fonts/static/LibreFranklin-SemiBold.ttf') format('truetype'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Libre Franklin-Bold';
    src: url('.assets/fonts/static/LibreFranklin-Bold.ttf') format('truetype');
}

.uk-position-bottom-left {
    bottom: 160px !important;
}
#welcome-screen {
    height: 100vh;
    background: url(../assets/images/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 100;
}
#welcome-screen .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(198, 108, 73, 0.3);
    z-index: 0;
}

#welcome-screen header {
    margin-top: 70px;
}

#welcome-screen main {
    margin-top: 100px;
    z-index: 100;
    position: relative;
}

#welcome-screen .uk-container {
    padding: 0;
}
 
#welcome-screen .uk-container .uk-navbar-right  a {
    font-family: "Libre Franklin-Regular", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: capitalize;
}

#welcome-screen .uk-container .text h1 {
    color: #FFFFFF;
    font-family: "Libre Franklin-Regular", sans-serif;
    font-size: 64px;
}
#welcome-screen .uk-container .text h2 {
    font-family: "Libre Franklin-Regular",sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#welcome-screen .uk-container .text p {
    font-family: "Libre Franklin-Regular",sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
#about, #skills, #portfolio, #footer {
    padding: 90px 0 145px;
}
#about {
    padding-bottom: 115px;
}
#footer {
    padding-bottom: 70px;
}
#about .uk-container .text h2{
    font-family: "Libre Franklin-Bold", sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}
#about .uk-container .text p{
    font-family: "Libre Franklin-Regular", sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: #333333;
}
#skills  {
    background: rgba(255, 250, 242, 1);

}
#skills .uk-container h2{
    font-family: "Libre Franklin-Bold", sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 85px;
}

#skills .uk-grid {
    margin-top: 20px;
}

#skills .uk-grid:nth-child(1) {
    margin-bottom: 65px;
    margin-top: 0;
}

#portfolio .uk-container h2 {
    font-family: "Libre Franklin-Bold",sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 85px;
  
}
#portfolio .uk-container h3{
    font-family: "Libre Franklin-Semi-bold", sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin-bottom: 48px;
}
#portfolio .uk-container .text p{
    font-family: "Libre Franklin-Regular",sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: #333333;
}

#portfolio .images img {
    margin: 15px;
}

#footer {
    background: #FFFAF2;
}

#footer .uk-container h3 {
    font-family: "Libre Franklin-Bold",sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
   
}
#footer .uk-container ul li a {
    font-family: "Libre Franklin-Regular", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
}

#footer .arrow {
    width: 100%;
    text-align: right;
    margin-top: 95px;
}

@media  screen and (max-width: 1440px ) {
   
}

@media only screen and (max-width: 375px){
    .uk-navbar-left .uk-button-default {
        border: none;
    }
    #welcome-screen .uk-container .text h1{
    font-size: 20px;
    text-align: center;
    }
    #welcome-screen .uk-container .text h2{
    font-size: 13px;
    text-align: center;
    }
    #welcome-screen .uk-container .text p {
        font-size: 13px;
        text-align: center;
    }
    #about .uk-container .text h2 {
        font-size: 24px;
        text-align: center;
    }
    #about .uk-container .text p {
        font-size: 12px;
        text-align: justify;
    }
    #skills .uk-container h2 {
        font-size: 24px;
        text-align: center;
    }
    #portfolio .content {
        flex-direction: column;
    }
    #portfolio h2, #portfolio h3, #portfolio p {
        text-align: center;
    }
}